<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
  <meta name="description" content="{{ description }}" />
  <meta name="og:description" content="{{ description }}" />
<!-- add OG images -->
  <title>{{ title }}{% if page.url != '/' %} | {{ meta.siteName }}{% endif %}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
   <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<div class="logo-container"><a href="/"><img class="logo" src="\assets\_Logo.png" alt="logo"></a></div>

<body>
  {% include "nav.njk" %}

  {{ content | safe }}

  <footer>
    <div>
      <p>&copy; {% year %} {{ meta.siteName }}{% if meta.authorName %} • {{ meta.authorName }}{% endif %}</p>
    </div>
  </footer>

</body>
</html>