/* Very Smol Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Layout */

body {
  background-color: #001D3D;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 4vh clamp(1rem, 4vw, 3rem) 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: aliceblue;
}

body > * {
  --layout-spacing: max(8vh, 3rem);
  --max-width: 70ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}



/* .logo-img {
margin: 0 auto;
  width: 80%;
} */

.logo-container{
  display: flex;
  align-items: center;
}
.logo {
  max-width: 70%;
}

.hero-container {
  background-image: url(../assets/16661915478_b89cf8096e_c.jpg);
  color: aliceblue;
  text-align: center;
  padding: 4rem;
}

.hero {
  text-shadow: 2px 2px 2px #FFC300;
  font-weight: bolder;
}


nav ul {
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}

nav ul li {
  
  padding: 0.5rem 1rem;
}

nav [aria-current="page"] {
  color: #FFC300;
  font-weight: bold;
}

header,
main,
main > * + * {
  margin-top: var(--layout-spacing);
}

body > footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

body > footer div {
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
  font-size: 0.9rem;
  color: #767676;
}

article * + * {
  margin-top: 1em;
}

/* Typography */
:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2) {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

a {
  color: aliceblue;
  text-underline-offset: 0.08em;
}

a:focus {
  outline: 2px solid currentColor;
  outline-offset: 0.2em;
}
.guides-container{
  margin-top: 2rem;
}

.index-hero{
  font-size: 3rem;
  text-align: center;
}

.guides-container{
  margin-top: 3rem;
}

.resources-container{
  margin-top: 3rem;
}

.guides-link-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  gap: 1rem;
}

#guides-a {
  margin-right: 3rem;
  text-decoration: none;
  color: #001D3D;
  padding: 0.2rem;
background-color: #FFC300;
border-radius: 1rem;
}

#guides-a:hover {
background-color: bisque;
}

/* Card CSS */

.articles_list {
  list-style-type: none;
  width: 100%;
}

.snippet{
  text-align: center;
  color: #001D3D;
  background-color: aliceblue;
 border-style: solid;
 margin-bottom: 2rem;
 padding: 2rem;
 margin-right: 1rem;
}

 .btn-container {
   margin-top: 1rem;
 }


.btn {  
  font-size: 3vw;
  color: #001D3D;
  text-decoration: none;
  background-color: #FFC300;
  padding: 1rem;
  border-radius: 0.4rem;
}

.btn:hover {
  background-color: rgb(87, 174, 250);
}


/* Media */

article img {
  display: block;
  width: 100%;
  min-height: 20rem;
  max-height: 40vh;
  object-fit: cover;
  margin: 2rem auto;
}

@supports (aspect-ratio: 1) {
  article img {
    max-height: unset;
    aspect-ratio: 3/2;
  }
}

/* Supporting Content */

code:not([class*="language"]) {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1.75ex;
  color: #444;
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 0.15em;
  padding-left: 0.15em;
}

blockquote {
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 3px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0 0.25rem 0.25rem 0;
}
