---
title: FullTech Sim Gear
layout: page.njk
---

<div>
<h2>A place to inspire creativity & inovation</h2>
</div>

<section class="guides-container">
<div class="index-hero">
    <h2>Our guides</h2>
</div>
<div class="guides-link-container">
    <h3>Helping to make making simpler</h3>
    <hr>
    <a id="guides-a" href="./guides">Guides</a>
</div>
</section>

<section class="resources-container">
<div class="index-hero">
    <h2>Resources</h2>
</div>
<div class="guides-link-container">
    <h3>Links, Channels, and, articles for you to enjoy </h3>
    <hr>
    <a id="guides-a" href="./resources">Resources</a>
</div>

</section>

